* {
	font-family: 'Inter var', 'ui-sans-serif', 'system-ui' ,'sans-serif' , 'Apple Color Emoji' , 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'
}

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

:root {
	--header-height: 50px;
	--header-padding: 0.5em;
	--dvh-unit: 1dvh;
    --viewport-height: calc(calc(var(--dvh-unit)* 100));
	--vh-adjusted: calc(var(--viewport-height, 100vh) - (var(--header-height) + var(--header-padding)) - 15px);
	--background-hover: #f0f0f0;
	--header-button-color: #e5e2e2;
	--header-button-hover-color: #cccbcb;
	--border-color: #ccc;
	--sidebar-width: 220px;
}

.height-wo-header {
	height: var(--vh-adjusted);
}

.styled-scrollbar {
	scrollbar-width: thin;
}

.login-btn {
	font-size: 1em;
	border-radius: 10px;
	background-color: black;
	color: white;
	border: none;
	width: 80px;
	height: 40px;
	text-decoration: none;
	font-weight: 600;
}

.login-btn:hover {
	background-color: #505050;
}
